---
layout: page
title: About
permalink: /about/
feature-img: "assets/img/travel/charm_city.jpg"
tags: [About, Archive]
---

I currently work for <a href="http://ulfirefightersafety.org/" target="_blank">UL FSRI</a> focusing on full-scale and lab-scale experiments designed to improve firefighter tactics and better understand the thermal performance of firefighter personal protective equipment.


Before joining UL FSRI, I previously worked at <a href="http://jensenhughes.com/" target="_blank">Jensen Hughes</a> and in the  <a href="http://www.nist.gov/fire" target="_blank">Fire Fighting Technology Group at NIST</a> 
 
