---
layout: default
---

<style>
  * {
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }

  img { 
    max-width: 100%; 
  }

  main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  p, figure {
    margin: 15px 0;
  }
  figcaption {
    text-align: center;
    color: #999;
  }
</style>

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.theme_settings.header_feature_image | relative_url }}')">
    <h1> {{ site.theme_settings.header_text }} </h1>
  </div>
  {% endif %}    
</div>

<main>

<p style="font-size:30px">
  I currently work for <a href="http://fsri.org/" target="_blank">UL FSRI</a> focusing on full-scale and lab-scale experiments designed to improve firefighter tactics and better understand the thermal performance of firefighter personal protective equipment.
<br><br>
  For more information on my research, see my <a href="{{ site.baseurl }}/docs/cv_cgw.pdf" target="blank"> CV</a> or checkout some interactive examples <a href="https://cweinschenk.com/portfolio/" target="_blank"> here</a>.
</p>
<figure class='full-width'>
  <img src="/assets/img/fire/burndown2.jpg" >
  <figcaption>Full-Scale Structure Burndown</figcaption>
</figure>
<p style="font-size:30px">
  Before joining UL FSRI, I previously worked at <a href="http://jensenhughes.com/" target="_blank">Jensen Hughes</a> and in the  <a href="http://www.nist.gov/fire" target="_blank">Fire Fighting Technology Group at NIST</a> 
</p>

</main>
