---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.theme_settings.header_feature_image | relative_url }}')">
    <h1> {{ site.theme_settings.header_text }} </h1>
  </div>
  {% endif %}    
</div>


<p>
  I currently work for <a href="http://ulfirefightersafety.org/" target="_blank">UL FSRI</a> focusing on full-scale and lab-scale experiments designed to improve firefighter tactics and better understand the thermal performance of firefighter personal protective equipment.
<br>
  Before joining UL FSRI, I previously worked at <a href="http://jensenhughes.com/" target="_blank">Jensen Hughes</a> and in the  <a href="http://www.nist.gov/fire" target="_blank">Fire Fighting Technology Group at NIST</a> 
</p>
